body {
    font-family: 'Open Sans', Cantarell, Lato;
}

.container {
    color: #656565;
    font-size: 13.5px;
   border: 1px solid #4444;
   border-radius: 12px;
   padding: 10px 12px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

#header {
    font-size: 1.6em;
    color:  #3352ff;
}

#greeting #name {
    font-weight: 900;
    color: #000;
}

#shout {
    font-weight: 700;
}
.email-body {
    width: 100%;

}
#activation-button {
    background-color:  #27bc13;
    padding: 4px 6px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #888;
     -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                    transition: all .4s ease;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

#activation-button:hover {
    cursor: pointer;
    background-color:  #179e05;
    border-color: #222;
    box-shadow: 0px 8px 15px rgba( 55, 134, 44 , 0.4);
}

#actv-link {
    text-decoration: none;
    font-size: 13.9px;
    width: 100%;
    color: #fff;

}

#sign-off {
    font-weight: bolder;
}